<h1>Detalle del Producto</h1>
<table>
  <tr>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </thead>
  </tr>
  <tr>
    <td><%= @product.name%></td>
    <td><%= @product.description%></td>
    <td><%= @product.price%></td>
  </tr>
</table>